############################################################
# Выбор модели (Target)
############################################################
CONFIG_FIRMWARE_PRODUCT_ID="MI-3"

############################################################
# Языковые пакеты (Ставим RU, отключаем остальные)
############################################################
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
№№CONFIG_FIRMWARE_INCLUDE_LANG_CN=n
№№CONFIG_FIRMWARE_INCLUDE_LANG_FR=n

############################################################
# Основные компоненты (Рекомендуемый набор)
############################################################
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n

# Поддержка VPN
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

# Файловые системы и USB (для флешек/модемов)
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=y
CONFIG_FIRMWARE_INCLUDE_SAMBA=y
CONFIG_FIRMWARE_INCLUDE_FTPD=y
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=y

# Сетевые утилиты
CONFIG_FIRMWARE_INCLUDE_SFE=y
